.active {
  color: white!important;
  font-weight: bold;
}

.bg-secondary {
  background-color: #e9e6e6!important;
}

.input-errors {
  color:red;
}

.error {
  border: solid 1px red;
}

:root {
  --popper-theme-background-color: #0dcaf0;
}